@model IEnumerable<TaskManager.Core.Models.Domains.Category>
@{
    ViewData["Title"] = "Kategorie";
}

<h1 class="mb-3">Moje Kategorie</h1>

<button class="btn btn-primary mb-3"
onclick='window.location.href = "@Url.Action("Category","Category")"'>
    Dodaj
</button>

<div id="categoriesTable">
    <table class="table mt-3table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var category in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Task", "Task",
                                    new { id = category.Id })"
                               class="font-weight-bold">
                                @category.Name
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm"
                                    onclick="deleteCategory('@category.Id',this)">
                                Usuń
                            </button>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="5">
                        Brak kategorii!
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
        function deleteCategory(id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć kategorię?"))
                return;

            $.ajax({
                type: "POST",
                url: "@Url.Action("Delete", "Category")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    } else {
                        alert(data.message);
                    }
                },
                error: function (data) {
                    alert(data.message)
                },
                dataType: "json"
            });
        }
    </script>
}